k*{
    /* eliminar margenes que por automatico da el navegador */
margin: 0;
padding:0;
}
/* p{
    margin:50px ;
    border:solid 5px blue ;
    padding: 30px;
} */

/* barra de menu */


a{
    text-decoration: none;
    color: #0079f3;
    font-weight: bold;
}
li{
    border: solid 1px #ffb703;
    padding: 15px;
    background-color: white;
    width: 200px;
    margin: 30px;
    text-align: center;
    border-radius: 30px ;
    box-shadow: 3px 3px 3px #ffb703;
    /* ETQ: box-shadow; no.+ arriba/ no.- abajo,no.+ derecha/ no.- izquierda, intencidad, color */
    list-style-type: none;
}
li:hover{
    color: #0079f3;
    background-color: #FFD60A;
    font-size: 1.5em;
    opacity:inherit;
}
nav p {
    font-weight: bold;
    color: #FFD60A;
    font-size: 35px;
    text-shadow: -3px -3px 3px #0079f3;
    letter-spacing: 3px;
}
img {
    width: 15em;
    border-radius: 30px ;
}
header{
    background: linear-gradient(#03045e, #03045e,#023e8a,rgba(40, 139, 231, 0.404),#fff,#fff);
/* backgroun: linear-grading indica difuminar colores Maximo 3 colores  */
    padding: 80px;
    width:100%;
    height: 100vh;
}
ul{
    display: flex;
    /* ETQ display (box); flex _ formna en que movemos elementos */
}
nav{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
}
.caja{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cajita{
    width: 50%;
}
.cajita img{
    width: 80%;
}
h1{
    font-size: 4em;
    text-align: right;
    color: #0609b3;
    text-shadow: 3px 3px 3px #FFD60A;

}
span{
    color: #FFD60A;
    font-style: italic;
    text-shadow: 3px 3px 3px #0609b3;
}
/* starts section ACERCA DE */

.acerca{
    width: 100%;
    height: 80vh;
    background: url(../img/fondo_azul.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h2{
    text-align: center;
    font-size: 2.5em;
}
.acerca2{
    width: 60%;
    height: 50vh;
    text-align:justify;
    background: linear-gradient(to right,  rgba(40, 139, 231, 0.493), rgba(154, 191, 226, 0.5));
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding:30px;

}
.acerca1{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* footer{
    background-color:black;
    width:400px;
    height: 30vh;
    overflow: auto;
} */
