k*{
    /* eliminar margenes que por automatico da el navegador */
margin: 0;
padding:0;

}
/* p{
    margin:50px ;
    border:solid 5px blue ;
    padding: 30px;
} */

/* barra de menu */
a{
    text-decoration: none;
    color: rgb(100, 109, 237);

}
li{
    border: solid 1px black;
    padding: 15px;
    background-color: beige;
    width: 200px;
    margin: 30px;
    text-align: center;
    border-radius: 30px ;
    box-shadow: 3px 3px 3px black;
    /* ETQ: box-shadow; no.+ arriba/ no.- abajo,no.+ derecha/ no.- izquierda, intencidad, color */
    list-style-type: none;
}
li:hover{
    opacity: 0.5;
}
nav p {
    font-weight: bold;
    color: rgb(100, 109, 237);
    font-size: 35px;
    text-shadow: -3px -3px 3px cornflowerblue;
    letter-spacing: 3px;
}

img {
    width: 15em;
}

header{
    background: linear-gradient( beige,rgb(252, 252, 201), rgb(100, 109, 237));
/* backgroun: linear-grading indica difuminar colores Maximo 3 colores  */
    padding: 80px;
    width:100%;
    height: 100vh;
}

ul{
    display: flex;
    /* ETQ display (box); flex _ formna en que movemos elementos */
}
nav{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
}
.caja{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cajita{
    width: 50%;
}
.cajita img{
    width: 80%;
}
h1{
    font-size: 4em;
    text-align: right;
}
span{
    color: rgb(100, 109, 237);
    font-style: italic;
    text-shadow: 3px 3px 3px black;
}
/* footer{
    background-color:black;
    width:400px;
    height: 30vh;
    overflow: auto;
} */
